@model IEnumerable<FootballApp.Models.FootballTeamsTable>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table text-center table-bordered" align="center" margin-top="100px"> 
    <tr>
        <th class="text-center">
            Game
        </th>
        <th class="text-center">
            Date
        </th>
    </tr>
@foreach (var item in Model) {  
    <tr>
        
    @if (item.Id % 2 != 0)
    {
        <td>
        <input type="checkbox" name="vehicle" value="Bike"> @(Html.DisplayFor(modelItem => item.Team)) <text>vs</text>
        @(Model.ElementAt(item.Id).Team) <input type="checkbox" name="vehicle" value="Bike"><br>
        @Html.DisplayFor(modelItem => item.Record) @Model.ElementAt(item.Id).Record<br>
        </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfGame)
    </td>
    }
    else
    {
        //@Html.DisplayFor(modelItem => item.Team)  <br>
    }

         

    </tr>
}

</table>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
